_minted-elegantbook-cn/
*.pdf
*.acn
*.acr
*.alg
*.aux/s
*.bak
*.bbl
*.blg
*.log
*.bcf
*.dvi
*.fdb_latexmk
*.fen
*.fls
*.glg
*.glo
*.gls
*.gz
*.gz(busy)
*.idx
*.ind
*.ist
*.loa
*.lof
*.log
*.lot
*.nav
*.out
*.ps
*.snm
*.synctex
*.synctex(busy)
*.ten
*.toc
*.thm
*.toc
*.toe
*.vrb
*.xdv
*.xml
